// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


html,body{
    background-color: #fff;
                color: #636b6f;
                font-family: 'Nunito', sans-serif;
                font-weight: 200;
                height: 100vh;
                margin: 0; 
}


/*home page*/
.home
    {
        background-image: url("/images/hiking.jpg");
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        min-height: 100vh;
        margin: 0;
    }

.top-right 
    {
        position: absolute;
        right: 10px;
        top: 18px;
        font-family: 'Nunito', sans-serif;
        font: white;
    }

.title h3
    {
        font-size: 8rem;
        color:white;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-weight: 200;
    }
.title
    {
        /*min-height: 100vh;*/
        align-items: center;
        letter-spacing: 1px;
        display: flex;
        justify-content: center;
    }

.links > a 
    {
        color: white;
        padding: 0 25px;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: .1rem;
        text-decoration: none;
        text-transform: uppercase;
    }
i
    {
    color: red;
   
    }
#try
    {
        display: none;
    }

/*content*/
.test
    {
        background-color:  white;
    }
#navbar
    {
        background-color: black;
    }
.list-group-item.active 
    {
        background-color: #565656;
        border-color: grey; 
    }
.card img
    {
        object-fit: contain;
        max-height: 10rem;
        max-width: auto;
    }
/*.card-img-top
    {
        object-fit: contain;
        height: 10rem; 
    }*/


// .card img{
//  object-fit:contain;
// height: 10rem
// }
// .card-category{
//     background-color: #8AA29E;
// }
// .card-header{
//     background-color: #565656;
//     color: white;
// }

table{
    background-color: #FAFAFA;
}
.card{
    background-color: #FAFAFA;
}
/*end homepage       */

/*category show*/

@media only screen and (max-width: 400px) 
  
    { 
        /*homepage start*/
        .title h3 
            {
                display: none;
            }
        #try
            {
                display: flex;
                font-size: 4.5rem;
                color:white;
                text-align: center;
                padding-top: 20rem;
                justify-content: center;
                align-items: center;
                font-family: 'Raleway', sans-serif;
                font-weight: 200;
            }
                /*homepage end*/

    }

@media only screen and (min-width: 401px) and (max-width: 960px)
    { 
        /*homepage start*/

        .title h3 
            {
                display: none;
            }
        #try{
                display: flex;
                font-size: 7rem;
                color:white;
                text-align: center;
                /*display: flex;*/
                justify-content: center;
                align-items: center;
                font-family: 'Raleway', sans-serif;
                font-weight: 200;
        }
                /*homepage end*/
        .card-name
            {
                font-size: 1rem;
            }
        
    }


@media only screen and (min-width: 961px) 
    {
        /*homepage start*/

        /*homepage end*/



        
    }